CFG_APP_NAME = XCGenPROD
CFG_APP_VERSION = 1.1.1
CFG_APP_BUILD = 1 // build
CFG_APP_BUNDLE_ID = bundle.id.xcode.gen.sample.prod.release.01
CFG_MODE = prod-release
CFG_CODE_SIGN_IDENTITY = "Apple Distribution: YOUR_CERT_NAME (YOUR_TEAM_ID)"
CFG_CODE_SIGN_ENTITLEMENTS = XcodeGenSample/Config/XcodeGenSample-PROD-Release.entitlements
CFG_PRODUCT_BUNDLE_IDENTIFIER = bundle.id.xcode.gen.sample.prod.release.01
CFG_PROVISIONING_PROFILE_SPECIFIER = your_prod_release_provisioning_profile_name
CFG_DEVELOPMENT_TEAM = YOUR_DEV_TEAM_ID